*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

html {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block; }

[tabindex="-1"]:focus {
	outline: 0 !important; }

img {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	vertical-align: middle;
	border-style: none;
	max-width: 100%; }

svg:not(:root) {
	overflow: hidden; }

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

th {
	text-align: inherit; }

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit; }
input:focus,
button:focus,
select:focus,
optgroup:focus,
textarea:focus {
	outline: 0; }

button,
input {
	overflow: visible; }

button,
select {
	text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none; }

input[type="radio"],
input[type="checkbox"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: listbox; }

textarea {
	overflow: auto;
	resize: vertical; }

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto; }

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; }

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation; }

button,
input,
optgroup,
select,
textarea {
	border-style: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none; }

li {
	list-style: none; }

blockquote,
body,
fieldset,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ul,
ol,
p,
pre {
	margin: 0;
	padding: 0; }

i, em {
	font-style: italic; }

b, strong {
	font-weight: bold; }

fieldset {
	border: none;
	margin: 0;
	padding: 0; }

a, label {
	-webkit-tap-highlight-color: transparent; }

progress {
	vertical-align: baseline; }

body, html {
	width: 100%;
    height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.main {
	min-height: 100%;
	position: relative;
	background: url('/img/bricks_grey.jpg') fixed bottom;
	background-size: cover;
}

header {
	width: 100%;
	height: auto;
	padding-bottom: 4rem;
}

@font-face {
	font-family: 'DS Crystal';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/DS Crystal/ds-crystal_bd2036e3e606cdb30401677869ae87f5.woff') format('woff'),
	url('/fonts/DS Crystal/ds-crystal_bd2036e3e606cdb30401677869ae87f5.ttf') format('truetype');
}

.topline {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 4;
    width: 100%;
    /*max-width: 1350px;*/
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.35);
}

.topline ul {
	margin: 0 auto;
}

.topper {
	height: 30px;
	background: #fff;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.35);
}
.top_header {
	background: rgba(200,220,240,0.4);
	border: 1px solid #5e9d9f50;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: white;
	height: 50px;
	width: 100%;
    /*margin: 0 auto;*/
    /*max-width: 1350px;*/
}

.logo {
	margin-left: 40px;
}

.logo a{
	font-weight: 600;
	font-size: 120%;
	color: #000000;
	opacity: 0.7;
	text-decoration: none;
	font-variant: small-caps;
}

.logo a:hover {
	-webkit-filter: drop-shadow(0 0 2px rgba(20, 120, 240, 0.7));
	filter: drop-shadow(0 0 2px rgba(20, 120, 240, 0.7));
}

.socials {
	font-size: 120%;
}

.socials a {
	color: #000000;
	opacity: 0.7;
	margin-right: 1rem;
}

.socials a:hover {
	-webkit-filter: drop-shadow(0 0 2px rgba(20, 120, 240, 0.7));
	filter: drop-shadow(0 0 2px rgba(20, 120, 240, 0.7));
}

.search {
	text-align: center;
	background: rgb(241, 243, 245);
	border-radius: 25px;
	width: 220px;
}

.search input {
	width: 70%;
	background: rgb(241, 243, 245);
	font-weight: bold;
	opacity: .7;
	border: none;
	padding: 8px 0px;
}

.search button {
	background: rgb(241, 243, 245);
	opacity: .7;
	border: none;
	cursor: pointer;
}

.menuBurger {
	display: none;
}

.bg_lines {
	font-size: 30px;
	color: white;
	-webkit-filter: drop-shadow(1px 0px 2px rgba(0,0,0,0.5));
	filter: drop-shadow(1px 0px 2px rgba(0,0,0,0.5));
}

.auth_mobile {
    align-self: center;
}

.clock {
	transform: scale(0.7);
	filter: contrast(40%) brightness(120%);
}
.topmenu {
	background: linear-gradient(#00bbff, #0044bb);
	/*background-color: rgba(20, 120, 240, 0.9);*/
	height: 50px;
	width: 100%;
    margin: 0 auto;
}

.topmenu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1350px;
}

.topmenu li {
	margin-top: 14px;
}

.topmenu a {
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size: 110%;
	padding: 5px 30px;
}

.topmenu ul a:hover {
	background: transparent;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0, 0.7), rgba(255,255,255,0.2) 0 1px 0;
	box-shadow: inset 0 0 5px rgba(0,0,0, 0.7), rgba(255,255,255,0.2) 0 1px 0;
	border-radius: 4px;
	color: #fff;
}

.topmenu ul a.selected {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0, 0.7), rgba(255,255,255,0.2) 0 1px 0;
	box-shadow: inset 0 0 5px rgba(0,0,0, 0.7), rgba(255,255,255,0.2) 0 1px 0;
	border-radius: 4px;
	text-shadow: -1px 1px 2px rgba(0,0,0,0.5);
}

.auth {
	margin-right: -70px;
	font-size: 0.8vw;
	opacity: 0.7;
}

.auth a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.auth a:hover {
	-webkit-filter: drop-shadow(0 0 3px rgba(20, 120, 240, 0.9));
	filter: drop-shadow(0 0 3px rgba(20, 120, 240, 0.9));
}

.auth_div {
	padding: 40px;
	background: url("/img/dbg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	box-shadow: 3px 4px 5px 6px rgba(0,0,0,0.5);
}

.auth_div h3 {
	color: #fafafa;
}

.auth_div form{
	position: relative;
	width: 200px;
	padding: 20px;
	/*background: rgb(241, 243, 245);*/
	/*border-radius: 5px;*/
	/*margin-top: 20px;*/
	/*display: flex;*/
	/*flex-flow: column;*/
	/*z-index: 5;*/
}

#reg_form{
	width: 270px;
}

.auth_div label {
	color: #eee;
	font-variant: all-small-caps;
}

.auth_div form input[type="text"],
.auth_div form input[type="password"],
.auth_div form input[type="email"] {
	margin: 5px auto 10px;
	padding: 10px 10px;
	border-radius: 5px;
	background-color: #ffffff;
}
.form-group__name {
	display: block;
}
.form-group,
.form-group input {
	width: 100%;
}

.button {
	width: 100%;
	position: relative;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #fff;
	margin: 20px auto;
	background: #fff;
	cursor: pointer;
	transition: border 1s ease;
	overflow: hidden;
}
.button span {
	position: relative;
	z-index: 1;
	color: #fff;
	font-weight: bold;
	transition: color 1s ease;
}
.button::after {
	position: absolute;
	content: '';
	top: 0;
	left: -2px;
	right: -2px;
	bottom: 0;
	opacity: 1;
	border-radius: 5px;
	transition: opacity 1s ease;
}

.button:hover {
	border: 2px solid rgba(10, 50, 150, 0.7);
}

.button:hover span {
	color: rgba(10, 50, 150, 0.7);
}
.button:hover::after {
	opacity: 0;
}

.button--primary::after  {
	background: linear-gradient(#00bbff, #0044bb);
}

.auth_div .check{
	display: flex;
}

.check input {
	margin: 12px;
}


.auth_text {
	display: flex;
	flex-flow: column wrap;
	position: relative;
}

.tinytext {
	font-size: 12px;
    margin-top: 10px;
	color: #fafafa;
	text-shadow: 1px 1px 2px black;
}

.tinytext a {
	text-decoration: none;
	color: #fafafa;
	font-weight: bold;
}

.tinytext a:hover {
	text-decoration: underline;
	color: burlywood;
}

.errors_tab {
	padding: 5px;
}

.error_text {
	color: red;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.wrapper {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
	/*-webkit-box-shadow: 1px 1px 5px grey;*/
	/*box-shadow: 1px 1px 5px grey;*/
	background-color: transparent;
	height: 100%;
}

header h1 {
	padding: 1%;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px cornflowerblue;
	font-size: 24px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.main_page {
	height: 1000px;
	padding-left: 20px;
}

.main_paragraph {
	font-family: Times New Roman, serif;
	padding: 30px;
	font-size: 22px;
	/*height: 100vh;*/
}

.article_content {
	display: flex;
}

.article_content img{
	width: 20%;
	max-height: 250px;
	margin: 50px;
	filter: drop-shadow(3px 4px 5px rgb(146, 146, 210));
}
.article_content .right_side {
	width: 80%
}

.article-title-h4 {
	padding: 10px;
}

.date {
	padding: 10px;
}


footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4rem;
	width: 100%;
	background-color: rgba(10, 10, 10, 0.9);
	text-align: center;
	/*z-index  : 99999999;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.copy {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: white;
}

.cnt {
	text-align: center;
}

.audio-container {
	width: 19%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #aaaaaa;
	border-radius: 15px;
	display: block;
	background-color: #ebebeb;
	cursor: pointer;
}

.audio-container img {
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
	border-radius: 12px;
	margin-left: -2px;
}

.audio_content audio {
	width: 230px;
	margin-top: 12px;
	border-radius: 5px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}

.audio-description {
	width: 81%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #aaaaaa;
	border-radius: 15px;
	background-color: #ebebeb;
}

.photo-container {
	width: 20%;
	margin: 20px;
	padding: 10px;
	border: 2px solid #aaaaaa;
	border-radius: 15px;
	display: block;
	background-color: #ebebeb;
	cursor: pointer;
}

.photo-container:hover {
	background-color: #dfdfdf;
}

.photo-container img {
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
	border-radius: 12px;
}

.photo-description {
	width: 80%;
	margin: 20px;
	padding: 20px;
	border: 2px solid #aaaaaa;
	border-radius: 15px;
	background-color: #ebebeb;
}

.photo_item {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 0px solid slategrey;
	padding: 7vh 5vw;
	margin: 5px 7px;
	background-size: contain;
	background: no-repeat center;
	-webkit-transition: ease-in .5s;
	-o-transition: ease-in .5s;
	transition: ease-in .5s;
}

.photo_item:hover {
	cursor: pointer;
	background-size: contain;
	background: #7e939b no-repeat center;
	width: 100px;
	height: 100px;
	/*box-sizing: border-box;*/
	outline: 2px solid salmon;
}

.video_item {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid slategrey;
	padding: 7vh 5vw;
	margin: 5px 7px;
	-webkit-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}

.video-container {
	width: 33%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #aaaaaa;
	border-radius: 15px;
	display: block;
	background-color: #ebebeb;
	cursor: pointer;
	text-align: center;
}


.video-description {
	width: 67%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #aaaaaa;
	border-radius: 15px;
	background-color: #ebebeb;
}

.video_content video {
	border-radius: 10px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}

.thumbs {
	width: 90px;
	height: 90px;
}


.video_item:hover {
	background: #990000;
	cursor: pointer;
}

.clear {
	/*height: 100px;*/
}

.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wrapped {
	width: 100px; //15vw
	margin: 10px;
	display: inline-block;
}

.padded-container {
	height: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
}

.img {
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.7;
	-webkit-transition: ease-in-out .3s;
	-o-transition: ease-in-out .3s;
	transition: ease-in-out .3s
}

.centered {
	position: absolute;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	margin: auto;
}

.wrapped .img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
}

.bottommenu {
	margin-left: 35%;
}

.bottommenu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.bottommenu li {
	margin-right: 2vw;
}

.bottommenu a {
	text-decoration: none;
	color: white;
}

.bottommenu a:hover {
	color: #4182f6;
	-webkit-filter: drop-shadow(0 0 5px rgba(20, 120, 240, 0.9));
	filter: drop-shadow(0 0 5px rgba(20, 120, 240, 0.9));
}

.up_arrow_container {
	position: fixed;
	z-index: 150;
	right: 20px;
	bottom: 80px;
	line-height: 2;
	visibility: visible;
	width: 55px;
	height: 55px;
	cursor: pointer;
	display: none;
}

.up_arrow_bg {
	-webkit-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out;
	background: rgba(230,240,250,0.5);
	border: 1px solid #5e9d9f50;
	border-radius: 30px;
	font-size: 20pt;
}

.up_arrow_bg:hover {
	background-color: lightgrey;
	color: white;
}

.content {
	position: relative;
	/*display: flex;*/
	/*flex-flow: row nowrap;*/
}

.row {
	width: 100%;
	display: flex;
}

.photoName {
	padding-top: 20px;
	padding-left: 20px;
	font-weight: bold;
	color: #333333;
}

.photoDate {
	padding-top: 20px;
	padding-left: 20px;
	font-weight: lighter;
	color: #777777;
}

.photoDesc {
	padding: 20px;
}

.photoDesc p {
	margin-top: 5px;
	border-radius: 5px;
	background-color: #dddddd;
	padding: 10px;
}

.itemName {
	padding-top: 20px;
	padding-left: 20px;
	font-weight: bold;
	color: #333333;
}

.itemDate {
	padding-top: 20px;
	padding-left: 20px;
	font-weight: lighter;
	color: #777777;
}

.itemDescription {
	padding: 20px;
}

.itemDescription p {
	margin-top: 5px;
	border-radius: 5px;
	background-color: #dddddd;
	padding: 10px;
}

.photo_block {
	margin: 20px 20px 0px 50px;
	font-size: 8em;
	color: #004eaf;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
	background: linear-gradient(#00bbff, #0044bb);
	padding: 12px;
}

.personal_block {
	margin: 30px;
	width: 100%;
}

.data_block {
	width: 100%;
	background-color: #eeeeee;
	border-radius: 10px;
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 5px;
	display: flex;
	flex-flow: column wrap;
}

.data_block .block_name {
	margin-bottom: 10px;
	font-weight: bolder;
	text-align: center;
	text-decoration: underline;
}

.data_block span:nth-child(2n-1){
	margin: 10px;
	font-weight: 600;
	color: #555;
}

.user_icon {
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.7));
	/*color: #fff;*/
}
.tuning {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: -2px;
	left: -77px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.icon-settings {
	height: 75px;
	width: 75px;
	padding: 10px;
	transition: all ease-in-out 3s;
}
.icon-settings:hover {
	transform: rotate(360deg);
}

.found_content {
	/*margin: 10px;*/
	padding: 10px;
}

@media screen and (max-width: 1366px) {
	.topline ul{
		max-width: 945px;
	}
	.wrapper {
		max-width: 945px;
	}
    .logo a {
        font-size: 100%;
    }
    .socials {
        font-size: 100%;
    }
	.clock {
		transform: scale(0.5);
		filter: contrast(50%) brightness(100%);
		margin-left: 25px;
	}
    .topmenu li {
        margin-top: 16px;
    }
    .topmenu a {
        font-size: 12pt;
        padding: 10px 20px;
    }
	.auth_div {
		position: relative;
		max-width: 945px;
        width: 100%;
		height: 100%;
        margin: 0 auto;
	}
	.photo-container {
		width: 30%;
		margin: 10px;
		padding: 10px;
	}
	.photo-description {
		width: 70%;
		margin: 10px;
		padding: 10px;
	}
	.photoName, .photoDate {
		padding-top: 10px;
		padding-left: 10px;
	}
	.audio-container {
		width: 30%;
	}
	.audio-description {
		width: 70%;
	}
	.audio_content audio {
		width: 100%;
	}
	.video_content video {
		width: 100%;
	}
	.article_content img {
		width: auto;
	}
}

@media screen and (max-width: 768px) {
    body, html {
        background: white none;
		font-size: 16px;
        height: 100%;
    }
	header {
		height: 100%;
	}
	.wrap {
		display: none;
	}
	.auth_div {
        position: relative;
        width: auto;
		padding: 30px 30px;
        height: 100%;
	}
	.auth_div form {
		background: none;
		border: none;
		box-shadow: none;
		width: 100%;
	}
	#reg_form {
		width: 100%;
	}
	.auth_div form [type="submit"] {
		line-height: 30px;
		margin: 30px 0px;
		font-size: 15px;
		transition: background-color .3s ease;
	}
	.auth_div form input[type="text"], .auth_div form input[type="password"], .auth_div form input[type="email"] {
		padding: 10px 10px;
	}
	.auth_div label {
		color: aliceblue;
	}
	.auth_text {
		align-items: center;
        margin-top: 10px;
	}
	.topmenu {
		width: 100%;
        height: auto;
		margin: 0;
	}
	.topmenu ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-flow: column;
		background-color: rgba(20, 120, 240, 0.9);
		width: 100vw;
		text-align: center;
		position: absolute;
		display: none;
	}
	.topmenu li {
		margin: 20px;
	}
	.topmenu a {
		font-size: 16pt;
        line-height: 1.5;
	}
	.topmenu ul a.selected {
        width: 100vh;
        border: 2px solid seashell;
		border-radius: 0;
	}

	.menuBurger {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        padding: 5px 5px;
	}
	.wrapper {
		margin: 0;
		width: 100%;
        height: 100%;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
    header h1 {
        font-size: 1.4em;
    }
    .main_paragraph {
        font-size: 1em;
		/*padding-top: 0;*/
    }
    .row {
        display: block;
		position: relative;
    }
	.photo-container,
	.audio-container,
	.video-container {
		width: auto;
		margin: 0;
		border-radius: 0;
	}
	.audio_content audio, .video_content video {
		width: 100%;
	}
	.photo-description,
	.audio-description,
	.video-description {
		display: none;
	}
	.mobile-photo-description,
	.mobile-video-description {
		display: block;
		position: absolute;
		left: 12px;
		bottom: 12px;
		color: #f9b641;
		background: rgba(0,0,0,0.5);
		padding: 25px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		width: 83%;
		z-index: 3;
	}
	.mobile-photo-description span {
		font-family: 'DS Crystal', arial;
		font-size: 22px;
	}
	.mobile-audio-description {
		display: block;
		position: absolute;
		left: 10px;
		bottom: 50px;
		color: #fff;
		background: rgba(100,0,0,0.5);
		padding: 25px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		width: 83%;
		z-index: 3;
	}
	.mobile-audio-description span {
		font-size: 22px;
	}
	.photo-container img {
		width: 100%;
	}
	.article_content {
		flex-flow: column wrap;
	}
	.audio-caption-h6 {
		display: none;
	}
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-flow: column;
	}
	.bottommenu {
		margin-left: 0;
        margin-top: 1vh;
        font-size: 16px;
	}
    .copy{
        font-size: 10pt;
        margin-top: 1vh;
    }
	.photo_block {
		margin: 0;
		padding: 10px;
	}
	.personal_block {
		margin: 5px 0px;
	}
	.data_block {
		padding: 5px;
	}
	.content article {
		outline-offset: -5px;
		outline: 1px solid silver;
	}
	.topper {
		display: none;
	}
}



.frog {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
	flex-wrap:wrap;

	flex-flow: column wrap;
}

#pond {
	display: flex;
	flex-flow: column-reverse wrap-reverse;
	justify-content: center;
	align-content: space-between;
}

.button-wrapper a {
	display: block;
	margin: 20px;
	background-color: #004eaf;
	color: #ffffff;
	padding: 15px 30px;
	border-radius: 30px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px black;
	filter: drop-shadow(3px 3px 3px grey);
}

#fb-popup {
	display: none;
}

.flex-line {
	display: flex;
	flex-flow: wrap row;
}

iframe {
	border: none;
}

.audio-caption-h6:first-child {
	margin-left: 20px;
	margin-top: 10px;
}

.seo-h2 {
	color: white;
	opacity: 0;
}

.reCaptureContent {
	color: #eee;
}
/*.grecaptcha-badge { visibility: hidden; }*/
.content {
	background-color: #fff;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.35);
}

body::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #0044bb;
}
::-webkit-scrollbar-button {
    /*width: 10px;*/
}
.ya-iks {
	margin-left: 20px;
}