.wrapper {
    display:flex;
    width:100%;
    background: #ccc;
    justify-content:space-between;
}

.input_text {
    display: flex;
    align-items: center;
}

.input_text input:not(:last-child){
    margin-right: 10px;
}

.output_div {
    display:flex;
    align-items:center;
}

.pick_clr {
    width: 35px;
    border: none;
    height: 20px;
    background: transparent;
}


.middle {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid burlywood;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    width: 250px;
    position: relative;
}
.spec {
    width: 250px;
    /*height: 215px;*/
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    outline: 1px solid burlywood;
    outline-offset: 5px;
    margin-right: 60px;
}

.spec label {
    width:200px;
    display: flex;
    justify-content: space-between;
}
.spec input{
    margin-bottom: 10px;
}

.spec input[type="range"] {
    cursor: pointer;
}
.spec input[type="number"] {
    width: 50px;
}

.spec input[type="color"] {
    background: transparent;
    border: none;
    width: 50px;
}

.spec input[type="button"]{
    width: 100px;
    padding: 5px;
    margin: 0 auto;
    font-weight: bold;
}

.spec input[type="reset"]{
    width: 100px;
    padding: 5px;
    margin: 0 auto;
    font-weight: bold;
}

.out_scr {
    width: 250px;
    height: 215px;
    display: flex;
    outline: 1px solid burlywood;
    outline-offset: 5px;
    margin-left: 50px;
    transition: width 2s ease-out 0.5s;
}

.square {
    margin: auto;
    height: 100px;
    width: 100px;
    color: #990000;
    background: #cccccc;
    border: 5px solid #000099;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tuning {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 34px;
    left: -54px;
    background-color: antiquewhite;
    border: 1px solid burlywood;
}

.icon-settings {
    height: 32px;
    width: 32px;
    padding: 10px;
    transition: all ease-in-out 3s;
}

.icon-settings:hover {
    transform: rotate(360deg);
}

path {
    fill: #555;
}
