html, body {
    height: 100%;
    height: auto;
    padding: 0;
}
body { background: #212121 url("../img/top_bg.jpg") repeat-x scroll center top; }

.container {
    max-width: 1366px;
    margin: 0 auto;
}
.header {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.green_circle {
    background: #00ffa2;
    border: 10px solid #00d68f;
    opacity: 1;
    border-radius: 100px 100px 100px 100px;
    width: 40px;
    height: 40px;
}
.top_text {
    font: normal bold 32px Trebuchet MS,sans-serif;
    color: #ffffff;
    padding-left: 12px;
    line-height: normal;
    text-transform: none;
}

.h5span {
    font: normal bold 72px Trebuchet MS,sans-serif;
    color: #ffffff;
    padding-left: 12px;
    line-height: normal;
    text-transform: none;
    text-align: center;
}
.h3span {
    max-width: 1200px;
    font: normal bold 26px Trebuchet MS,sans-serif;
    line-height: normal;
    text-align: left;
    color: #ffffff;
    line-height: normal;
    margin: 50px auto;
    border-bottom: 3px dashed #00ffa2;
}
.contacts {
    font: normal bold 22px Trebuchet MS,sans-serif;
    line-height: normal;
    text-align: left;
    color: #ffffff;
    line-height: normal;
    text-transform: capitalize;
}
.footer {
    margin: 0 auto;
    max-width: 1366px;;
    color: #fafafa;
    display: flex;
    justify-content: space-around;
}